/.idea
.DS_Store
/libft/libft.a
*.cor
*.s
*.o
/libft/objs
/vm/cmake-build-debug
/vm/corewar
/vm/objs/
/vm/vm
/ft_printf/libftprintf.a
/vm/asm
/vm/Car.s
/vm/corewar_orig
/libft/.idea/
/libft/cmake-build-debug/
/ft_printf/cmake-build-debug/
/ft_printf/.idea/
/vm/1
/vm/2
